/* #region Base */
:root {
    --primary-color: #20485d;
    --secondary-color: #324a24;
    --tertiary-color: #754300;
    --accent1-color: yellow;
    --accent2-color: #999999;
    --accent3-color: #ebb265;
    --font1-color: black;
    --font2-color: #f2f2f2;
    --font3-color: white;
    --heading-font: "Merriweather", serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selected {
    background-color: var(--tertiary-color);
    color: var(--font3-color);
}

.non-selected {
    background-color: var(--primary-color);
    color: var(--font3-color);
}

h1,
h2,
h3,
h4,
.logo-container span {
    font-family: var(--heading-font);
}
h2 {
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--font3-color);
    background-color: var(--font1-color);
}
h3 {
    font-size: 1.2rem;
}
body {
    font-family: var(--body-font);
    color: var(--font1-color);
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

button {
    font-family: var(--body-font);
    font-size: 1rem;
    padding: 0.5rem;
}
/* #endregion */

/* #region Header*/
header {
    background-color: black;
    color: var(--font2-color);
    position: relative;
    padding: 1rem;
    text-align: left;
}
header img {
    height: 75px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}
.nav-container {
    position:absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
}

/* #endregion*/

/* #region Nav/Hamburger */
.logo-title {
    font-family: var(--heading-font);
    display: none;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--font2-color);
    /* position: absolute;
    top: 0.6rem;
    right: 1rem;
    width: 50px; */
}

#menu span {
    font-size: 0;
    color: white;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: larger;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.navigation a.active {
    color: var(--accent3-color);
}

.open a {
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

/* #endregion */

/* #region Hero banner*/

.hero {
  display: flex;
  gap: .25rem;
}

.hero div {
  flex: 1 1 300px;
  height: 250px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* crops instead of stretching */
}
#hero-1{
    display: none;
}
#hero-2{
    display: flex;
}
#hero-3{
    display: none;
}


/* #endregion */

/* #region Main */
main {
    padding: 2rem;
    max-width: 100%;
    background-color: #fff;
    flex-grow: 1;
}

h1 {
    background-color: var(--primary-color);
    color: #eee;
    text-align: center;
    padding: .5rem;
    margin: 0 auto;
}

.menu {
    margin: 0.5rem auto;
    padding: 0.5rem;
    background-color: var(--font1-color);
    text-align: center;
}

.menu button {
    padding: 0.5rem;
    font-weight: 700;
}

.menu button img {
    height: 24px;
    filter: invert(100%);
}

/* #endregion */

/* #region Footer */
footer {
    background-color: black;
    color: white;
    padding: 0.5rem;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding-bottom: 0.5rem;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid white;
    border-radius: 22px;
    color: white;
    text-decoration: none;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--tertiary-color);
}

#footer-text {
    font-size: 1rem;
    color: var(--font3-color);
}

/* #endregion */

/* #region Banner Pictures */
@media (min-width: 500px) {
    #hero-1{
        display: flex;
    }
    #hero-2{
        display: none;
    }
    #hero-3{
        display: flex;
    }
}
@media (min-width: 900px) {
    #hero-2{
        display: flex;
    }
    .hero div {
        height: 250px;
    }
}
/* #endregion */

/* #region Randoms */
.randoms {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 0;
    gap: 2rem;
}
.randoms div {
    max-width: 500px;
    min-width: 250px;
    flex: 1;
}
.randoms img {
    max-height: 300px;
    max-width: 100%;
}
/* #endregion */

/* LARGER  */
@media (min-width: 600px) {
    /* #region Navigation */
    .logo-container {
        justify-content: left;
        }
    .logo-container span {
        display: block;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }
    nav a {
        flex: 1 1 100%;
    }
    /* #endregion */

    /* #region Banner */
    
    /* #endregion */

}
