<div class="social">
    <a href="https://github.com/jsamap">
        <img src="/images/icons/github.svg" alt="GitHub"/>
    </a>
    <a href="https://www.linkedin.com/in/jaredsamayoa">
        <img src="/images/icons/linkedin.svg" alt="LinkedIn"/>
    </a>
    <a href="http://wa.me/+50234000940">
        <img src="/images/icons/whatsapp.svg" alt="WhatsApp"/>
    </a>
    <a href="https://www.xbox.com/en-us/play/user/HaloShot96">
        <img src="/images/icons/xbox.svg" alt="Xbox"/>
    </a>
</div>
<p id="footer-text">
&copy;2026&nbsp;&nbsp;&#129302;&nbsp;&nbsp;Jared
Samayoa&nbsp;&nbsp;&#129302;&nbsp;&nbsp;Guatemala
</p>